// 함수 
    @mixin center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @function ratio($size, $ratio) {
      @return $size * $ratio // (100px, 9/16)
    }

    .box {
      $width: 100px;
      width: $width;
      height: ratio($width, 9/16); // 56.25px
      @include center;
    } 

    // CSS
    .box {
      width: 100px;
      height: 56.25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }